---
import Layout from '@layouts/base.layout.astro';
import Hero from '@components/Hero.astro';
import { groupBy } from '@helpers/groupBy';

export async function getStaticPaths() {
    const all = await Astro.glob('../../data/**/*.md');
    const items = all.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf())
    .map(item => ({
        ...item.frontmatter,
            
    }));

    for (let idx = 0; items.length > idx; idx++) {
        items[idx].content = await all[idx].compiledContent();
        items[idx].categoryId = items[idx].category.slug;
    }

    const groupedItems = groupBy(items, 'categoryId');
    const categories = items.filter(item => item.category)
    .map(item => ({
        title: item.category.title,
        slug: item.category.slug,
        items: groupedItems[item.category.slug]
    }));


    return categories.map(item => {
        return {
            params: {
                category: item.slug,
            },
            props: {
                item
            }
        }
    });
};

const {item} = Astro.props;
---

<Layout>
    <Hero  subtitle={item.description}>{item.title}</Hero>
    <div class="py-6 my-10 bg-white sm:py-8 lg:py-12">
        <div class="px-4 mx-auto max-w-screen-2xl md:px-8">

      
          <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 md:gap-6 xl:gap-8">
            {item.items.map(item => (
                <div class="flex flex-col overflow-hidden bg-white border rounded-lg">
                <a href={`/page/${item.slug}`} title={item.title} class="relative block h-48 overflow-hidden bg-gray-100 group md:h-64">
                    <img src={item.img.url} loading="lazy" 
                    alt={item.img.title} title={item.img.title} width="200" height="200"
                    class="absolute inset-0 object-cover object-center w-full h-full transition duration-200 group-hover:scale-110">
                </a>
        
                <div class="flex flex-col flex-1 p-4 sm:p-6">
                    <h2 class="mb-2 text-lg font-semibold text-gray-800">
                    <a href={`/page/${item.slug}`} title={item.title} class="transition duration-100 hover:text-primary active:text-opacity-80">{item.title}</a>
                    </h2>
        
                    <p class="mb-8 text-gray-500">{item.description}</p>
        

                </div>
                </div>
            ))}
            <!-- article - end -->
          </div>
        </div>
      </div>
    <ul>
        {item.items.map(item => (
            <li><a href={`/page/${item.slug}`} title={item.title}>{item.title}</a></li>
        ))}
    </ul>
</Layout>